/* style.css */

/* Style for labels */
.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

/* Style for text fields */
.text-field {
    -fx-font-size: 16px;
    -fx-prompt-text-fill: #999;
}

/* Style for buttons */
.button {
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-color: rgba(65, 155, 237, 0.98);
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
    -fx-min-width: 120px; /* Set minimum width */
    -fx-min-height: 40px; /* Set minimum height */
    -fx-pref-width: 150px; /* Set preferred width */
    -fx-pref-height: 40px; /* Set preferred height */

}

/* Hover effect for buttons */
.button:hover {
    -fx-background-color: #0056b3;
}
